@import url("../../theme.css");

:root {
  --secondaryColor: #88b7d7;
  --touchofBlue: #d9f6ff;
}
.productContainerOuter {
  margin-bottom: 5rem;
}

.graph_info_downloadBtn_container {
  display: flex;
  flex-direction: row;
  height: 25rem;
}
.info_download_container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.graphContainer {
  padding-top: 2rem;
  transform: scale(0.9);
  width: 50rem !important;
  min-width: 50rem !important;
  max-width: 50rem !important;
  height: 26rem;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: var(--paperMimic);
  border-radius: 5px;
  margin-top: 1rem;
}

.productInfoContainer {
  margin-top: 2rem;
  margin-left: -1rem;
  margin-bottom: 1rem;
  background-color: var(--touchofBlue);
  border-radius: 15px;
  min-width: 10rem; /* Minimum width */
  max-width: 20rem; /* Maximum width */
  width: 75%;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1; /* Take up remaining vertical space */
}

.downloadBtnContainer {
  margin-left: -1rem;
  height: 5rem;
  min-width: 10rem; /* Minimum width */
  max-width: 20rem; /* Maximum width */
  width: 75%;
}

.exampleTextContainer {
  margin-top: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.exampleText {
  font-size: 0.8rem;
}

.mcsLinkTextContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.mcsLinkText {
  font-size: 0.8rem;
}
.mcsLinkText a {
  font-weight: bolder;
}

@media (max-width: 1080px) {
  .productContainerOuter {
    margin-bottom: 15rem;
  }
  .graph_info_downloadBtn_container {
    flex-direction: column;
    /* align-items: center;  */
  }
  .graphContainer {
    margin-left: -2rem;
  }
  .info_download_container {
    width: 75vw;
    flex-direction: row;
    min-width: 15rem;
    margin-right: 2rem;
    /* justify-content: space-between; */
    /* background-color: black; */
    padding-left: 20rem;
  }
  .productInfoContainer {
    margin-left: -15rem;
    min-width: 14rem;
    /* margin-bottom: 6rem; */
    /* max-height: 10rem; */
    /* max-width: 20rem; */
  }
  .downloadBtnContainer {
    margin-right: 10rem;
    margin-left: 2rem;
    margin-top: 7rem;
  }
}
