@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Exo:wght@200;500&family=Oxygen:wght@300&display=swap");

@import url("../../theme.css");

:root {
  --shadedDiv: hsla(307, 0%, 80%, 0.4);
  --darkerShading: hsla(254, 0%, 60%, 0.6);
  --siteHeaders: rgb(66, 90, 128);
  --uglyFont: "Arvo", serif;
  --niceFont: "Roboto", sans-serif;
}

.homePageFull {
  padding-left: 4rem;
  padding-right: 2rem;
}

.homePageTextContainerLeft {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  /* background-color: blue; */
}
.titleAndLogoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -15rem;
}
.homePageHeader {
  color: var(--siteHeaders);
  font-family: var(--uglyFont);
  font-size: 2rem;
}
.homePageWelcome {
  margin-top: 12rem;
  font-size: 6rem;
  color: var(--siteHeaders);
  font-family: var(--niceFont);
}
.subTitle {
  font-size: 1.5rem;
  margin-top: -4rem;
  margin-bottom: -3rem;
  /* color: var(--siteHeaders); */
  font-family: var(--niceFont);
}
.introTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 65rem;
  min-width: 45rem;
  margin-left: 4rem;
}
.additionalResourcesLinkes {
  margin-left: 10vw;
  margin-top: 3rem;
  max-width: 35rem;
  min-width: 25rem;
}
.homePageContentsContainer {
  max-width: 45rem;
  min-width: 25rem;
  /* background-color: aquamarine; */
}

.dashIntroPara {
  font-size: 1.1rem;
}
.glossaryContainer {
  margin-top: 3rem;
  margin-left: 8rem;
  max-width: 65rem;
  min-width: 45rem;
}

.homePageGraphContainer {
  width: 60rem;
  /* background-color: black; */
}

.homePageACDLink {
  /* margin-bottom: 0.5rem; */
  font-size: 1.2rem;
}
