@import url("../../theme.css");

.dropdownOuterContainer {
  width: 25rem;

  height: 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  align-items: center;
  padding-left: 3rem;
  padding-right: -20rem;
  /* box-shadow: var(--paperMimic); */
  border-radius: 5px;
}
.dropdownSelect {
  width: 9rem;
  font-size: large;
  margin-left: 2rem;
}

.formControl {
  min-width: 2rem;
  max-width: 4rem;
}

.yearLabel {
  /* margin-right: -20rem; */
  font-size: larger;
  margin-top: 0.5rem;
  margin-left: -2rem;
}
.btnOuterContainer {
  z-index: 9;
  border-radius: 2%;
}
.iconContainer {
  margin-right: 1.5rem;
}
.textAndIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-left: 0.5rem; */
}

.button {
  padding: -2rem;
  width: 15rem;
  color: black;
  font-family: roboto;
  text-decoration: none;
}

.icon {
  transform: scale(1.5);
  margin-top: 1rem;
}

.dataName {
  font-size: 11px;
  margin-top: -0.8rem;
}
