:root {
  --primaryColor: #225cf6;
  --secondaryColor: #88b7d7;
  --lightBlue: #108fe0;
  --highlightColor: #e08d20;
  --lightGrey: #e6e8e6;
  --darkGrey: #d0d6d4;
  --greenGrey: #69cfa9;
  --pinkHighlight: #f45273;
  --alternateHighlight: #1ed4c7;
  --alternateSecondary: #1e7fd4;
  --lineGraphTitleBlock: #caf3fa;
  --coolBoxShadow: 5px 5px 0px hsla(0, 1%, 37%, 0.329);
  --paperMimic: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
