@import url("../../theme.css");

:root {
  --seriesColWidth: 20px;
}

.keyContainerOuter {
  transform: scale(0.8);
  padding-top: 0.5rem;
  margin-left: 2.5rem;
}

.keyTitle {
  margin-bottom: 0.25rem;
}
.keyContentMatrix {
  display: grid;
  grid-template-columns: 7.5rem var(--seriesColWidth) 600px;
  grid-template-rows: 1rem 1rem;
  /* border: 1px solid black; */
}

.twoDaySeries {
  border-top: 3px solid var(--primaryColor);
  width: var(--seriesColWidth);
  height: 1rem;
  margin-top: 0.5rem;
  grid-column-start: 2;

  /* background-color: blue; */
}

.twoDayLabel {
  grid-column-start: 3;
}
.threeFiveDaySeries {
  border-top: 3px solid var(--secondaryColor);
  width: var(--seriesColWidth);
  height: 1rem;
  margin-top: 0.5rem;
  grid-column-start: 2;
}

.threeFiveDayLabel {
  grid-column-start: 3;
}
